# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
keeply-venv/
venv/
env/

# Gunicorn socket
*.sock

# Database
*.db

# Flask session
flask_session/

# Docker
.dockerignore

# Environment files
.env

# Cloudflare tunnel files
tunnel-*.json
cloudflared/
