{% extends "layout.html" %}

{% include "header.html" %}

{% block title %}
Login
{% endblock %}

{% block main %}
<form action="/login" method="post">
	<div class="mb-3">
        	<input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text" required>
    	</div>
    	<div class="mb-3">
        	<input autocomplete="off" class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password" required>
    	</div>
    	<button class="btn btn-primary w-auto mx-auto" type="submit">Login</button>
</form>
{% if error %}<p style="color:red">{{ error }}</p>{% endif %}
{% endblock %}

